body{background: #EEE;}
h1{width: 450px;height: 30px;color: #000;text-align: center;font-size: 34px;position: absolute;top:150px;left:200px;}
.container{position: relative;}
#boxDom{width: auto;height: 52px;box-shadow: 0 0 5px #CCCCCC;position: absolute;top: 200px;left: 200px;background: #128867;overflow: hidden;border: 1px solid #FFF;}
#boxDom ul{width: 50px;height: auto;float: left;border: 1px solid #FFF;position: relative;}
#boxDom ul li{width: 50px;height: 50px;line-height: 50px;text-align: center;border: 1px solid #FFF;font-weight: bold;}